@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 5.2em;
}

header > * {
    max-width: 1000px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
}

.logo, .main_nav  {
    flex: 1;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}


.main_nav ul {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.main_nav ul li a {
    text-decoration: none;
    color: azure;
}

.hero_section {
    display: flex;
    gap: 3rem;
    padding: 5rem 0;
}

.hero_text, .hero_img {
    flex: 1;
}

.hero_header_txt {
    margin-bottom: 1rem;
}

.hero_header_txt h3 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_header_txt p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero_img {
    display: flex;
    background-color: #6d747d;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.hero_cta {
    align-self: flex-start;
}

.hero_cta input {
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: .5rem 2rem;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 600;
    cursor: pointer;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 0 0 7rem 0;
}

.information_title {
    padding: 3rem 0;
}

.information_title h3 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information_items {
    display: flex;
    max-width: 800px;
    gap: 2.8rem;
}

.box {
    border: 4px solid #3b82f6;
    height: 165px;
    border-radius: 10px;
}

article {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

article > * {
    width: 100%;
    text-align: center;
}

article p {
    font-size: 18px;
    color: #616a77;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
}

.quote_container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0;
}

.quote_text p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.quote_author {
    margin-right: 0;
}

.quote_author p {
    font-weight: bold;
    font-size: 25px;
}

section.cta {
    display: flex;
    padding: 6rem 0;
}

.cta_container {
    flex: 1;
    display: flex;
    max-width: 1000px;
    background-color: #3882F6;
    padding: 3rem 0;
    border-radius: 8px;
    align-items: center;
}
.cta_txt h3 {
    color: #fff;
    font-size: 24px;

}

.cta_txt p {
    font-size: 18px;
    color: #E5E7EB;
}

input.cta {
    align-self: flex-end;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: .4rem 2rem;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

footer {
    display: flex;
    background-color: #1f2937;
    padding: 2.5rem 0;
}

footer p {
    font-size: 18px;
    color: #E5E7EB;
}